<head>
  <style>
    p { margin: 0; margin-bottom: 1.1em; }
    table { border: 0 none; }
    th { font-weight: bold; text-align: right; }
    th, td { padding: 0.15em; vertical-align: top; }
  </style>
</head>