<html>
<head>
  <title></title>
</head>

<body>
<p>Your import upload completed at {{importRun?.finishedAt}} with a status of '{{importRun.status}}'.</p>
<p>You can view the import results at this link: <a href="{{importRunLink}}">{{importRunLink}}</a></p>
</body>