<html>
<head>
  <style>
    p { margin: 0; margin-bottom: 1.1em; }
    table { border: 0 none; }
    th { font-weight: bold; text-align: right; }
    th, td { padding: 0.15em; vertical-align: top; }
  </style>
</head>
<body>
<p>A request for access to the etA Blended Learning LMS has been made.</p>
<table cellspacing='0'>
  <tr><th>Training Location</th><td>{{trainingLocation.name}} ({{trainingLocation.jatc}})</td></tr>
  <tr><th>User Type</th><td>Student</td></tr>
  <tr><th>First Name</th><td>{{accessRequest.firstName}}</td></tr>
  <tr><th>Last Name</th><td>{{accessRequest.lastName}}</td></tr>
  <tr><th>Phone #</th><td>{{accessRequest.phone}}</td></tr>
  <tr><th>E-mail Address</th><td><a href='mailto:{{accessRequest.email}}'>{{accessRequest.email}}</a></td></tr>
  <tr><th>Student Type</th><td>{{studentType.name}}</td></tr>
  {{#if courses}}
    {{#if courses.length}}
      <tr>
        <th>Requested Courses</th>
        <td>
          <ul>
            {{#each courses}}
              <li>Name: {{courseName}}</li>
            {{/each}}
          </ul>
        </td>
      </tr>
    {{/if}}
  {{/if}}
</table>
<br />
<p><a href="{{baseUrl}}/{{accessRequest.trainingLocationId}}/{{frontEndpoint}}/students/">View all pending requests online.</a></p>
</body>